<!-- ======= Footer ======= -->
<footer id="footer" style="background: rgb(230,230,230);
background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(255,255,255,0.7230247689896271) 50%, rgba(236,236,236,1) 100%);"> 
    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <p>Get Our News Letter In your Email Inbox</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row"  style="background: rgb(230,230,230);
background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(255,255,255,0.7230247689896271) 50%, rgba(236,236,236,1) 100%);border-top: 1px solid black;">

              

                <div class="col-lg-4 col-md-6 footer-links" >
                     
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">User Guide</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/services">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div> 
                <div class="col-lg-4 col-md-6 footer-links">
                     
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Desclaimer</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Providers</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Consumer/Users/Help Seeker</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li> 
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4" style="background: rgb(230,230,230);
background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(255,255,255,0.7230247689896271) 50%, rgba(236,236,236,1) 100%);border-top: 1px solid black;">
        <div class="copyright">
            &copy; Copyright <strong><span>VakeelKaro.Com</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
            Managed by <a href="https://otcube.com/">O.T.Cube Pvt Ltd.</a>
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>
<!--
        <div class="col-2"><a class="text-black" href="/about">About</a></div>
        <div class="col-2"><a class="text-black" href="/contact">Contact</a></div>
        <div class="col-2"><a class="text-black" href="/services">services</a></div>
        <div class="col-2"><a class="text-black" href="/privacy">Privacy </a></div>
        <div class="col-2"><a class="text-black" href="/termandconditions">Term & Conditions </a></div>
 -->
