 <%- include('./layouts/header.ejs') %>

 <%- include('./layouts/navbar.ejs') %>

 <!-- About-->
 <div class="container">
     <!-- ======= Breadcrumbs ======= -->
     <section class="breadcrumbs">
         <div class="container">

             <div class="d-flex justify-content-between align-items-center">
                 <h2>About us</h2>
                 <ol>
                     <li><a href="/">Home</a></li>
                     <li>About us Page</li>
                 </ol>
             </div>

         </div>
     </section><!-- End Breadcrumbs -->
     <section class="contact-section" style="background-color: #eee;">

         <div class="container px-4 px-lg-5">
             <div class="row gx-4 gx-lg-5">
                 <div class="col-md-12 mb-3 mb-md-0">
                     <div class="card p-4 h-100">
                         <h1>We are :</h1>
                         <div class="card-body text-center p-5">
                             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia sed quod nulla! Facilis
                             animi dolor corporis dolorem fuga earum ducimus reprehenderit architecto! Autem
                             consequatur iusto, fuga cum accusantium in necessitatibus!
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem expedita nobis qui
                             blanditiis accusantium non dignissimos cumque minima. Fugiat expedita exercitationem
                             ducimus dolorem pariatur quia accusantium officiis voluptas tempora minus.
                             lorem ipsum
                             Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro iusto eum facere.
                             Porro, nulla repudiandae reiciendis ab iure doloribus ipsum odit aspernatur suscipit
                             ipsam non temporibus ex accusantium saepe culpa.
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 mb-3 mb-md-0">
                     <div class="card py-4 h-100">
                         <div class="card-body text-center">
                             <i class="fas fa-envelope text-primary mb-2"></i>
                             <h4 class="text-uppercase m-0">Email</h4>
                             <hr class="my-4 mx-auto" />
                             <div class="small text-black-50"><a href="#!">vk@vakeelkaro.com</a></div>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 mb-3 mb-md-0">
                     <div class="card py-4 h-100">
                         <div class="card-body text-center">
                             <i class="fas fa-mobile-alt text-primary mb-2"></i>
                             <h4 class="text-uppercase m-0">Phone</h4>
                             <hr class="my-4 mx-auto" />
                             <div class="small text-black-50">+91 7690071271</div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="social d-flex justify-content-center">
                 <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                 <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                 <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
             </div>
         </div>
     </section>
 </div>
 <%- include('./layouts/footer.ejs') %>
