 <%- include('./layouts/header.ejs') %>

 <%- include('./layouts/navbar.ejs') %>
 <div class="container">
   <!-- Masthead-->
   <!-- ======= Hero Section ======= -->
   <section id="hero" class="d-flex align-items-center">
     <div class="container"   data-aos-delay="100">
       <h1>Welcome to <span>BizLand</span></h1>
       <h2>We are team of talented designers making websites with Bootstrap</h2>
       <div class="d-flex">
         <a href="#about" class="btn-get-started scrollto">Get Started</a>

       </div>
     </div>
   </section><!-- End Hero -->

   <main id="main">

     <!-- ======= Featured Services Section ======= -->
     <section id="featured-services" class="featured-services">
       <div class="container">

         <div class="row">
           <div class="col-md-12 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box"   data-aos-delay="100">
               <div class="icon"><i class="bx bxl-dribbble"></i></div>
               <h4 class="title"><a href="">Lorem Ipsum</a></h4>
               <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolore placeat ab. Temporibus culpa molestiae molestias nam aperiam corporis ab minus, inventore ad dolor sunt explicabo. Explicabo totam inventore tempora?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem cumque. Cum, dicta at. Animi at temporibus delectus omnis eveniet voluptas, placeat repellendus velit. Dolor voluptatum placeat quidem commodi explicabo?
               </p>
             </div>
           </div>
<hr/>
           <div class="col-md-12 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box" data-aos-delay="200">
               <div class="icon"><i class="bx bx-file"></i></div>
               <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
               <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus amet recusandae id rerum perspiciatis reiciendis vel, atque placeat dignissimos dolorem ipsa hic aperiam distinctio quis architecto, nam molestias sed rem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus qui harum cum dolore non porro laboriosam consectetur fugit aspernatur, consequuntur sint! Molestias suscipit minus laborum facere, delectus eum sequi rem!
               </p>
             </div>
           </div>
<hr>
           <div class="col-md-12 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box" data-aos-delay="300">
               <div class="icon"><i class="bx bx-tachometer"></i></div>
               <h4 class="title"><a href="">Magni Dolores</a></h4>
               <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, sint quibusdam mollitia non ratione voluptas corrupti, quo doloribus recusandae laboriosam nihil! Amet harum, praesentium voluptatem recusandae eligendi eveniet numquam cumque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, saepe. Ducimus placeat deleniti sit, eaque labore fugit incidunt officia impedit dicta hic quaerat veniam eum iste adipisci reiciendis eveniet! Dolor.
               </p>
             </div>
           </div>
<hr>
           <div class="col-md-12 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box" data-aos-delay="400">
               <div class="icon"><i class="bx bx-world"></i></div>
               <h4 class="title"><a href="">Nemo Enim</a></h4>
               <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sint facilis itaque nulla repellendus facere error tempora asperiores voluptatem odit debitis aut consequuntur velit fugiat, qui nihil, magnam ratione in.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nesciunt soluta mollitia. Consequatur minima quis eveniet quaerat! Obcaecati culpa quod sed natus ipsa hic ab magnam aspernatur. Impedit, suscipit magnam.
               </p>
             </div>
           </div>

         </div>

       </div>
     </section><!-- End Featured Services Section -->

     <!-- ======= About Section ======= -->
     <section id="about" class="about section-bg">
       <div class="container">

         <div class="section-title">
           <h2>About</h2>
           <h3>Find Out More <span>About Us</span></h3>
           <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae
             autem.</p>
         </div> 

       </div>
     </section><!-- End About Section -->
 

     <!-- ======= Counts Section ======= -->
     <section id="counts" class="counts">
       <div class="container">

         <div class="row">

           <div class="col-lg-3 col-md-6">
             <div class="count-box">
               <i class="bi bi-emoji-smile"></i>
               <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                 class="purecounter"></span>
               <p>Happy Clients</p>
             </div>
           </div>

           <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
             <div class="count-box">
               <i class="bi bi-journal-richtext"></i>
               <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                 class="purecounter"></span>
               <p>Projects</p>
             </div>
           </div>

           <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
             <div class="count-box">
               <i class="bi bi-headset"></i>
               <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                 class="purecounter"></span>
               <p>Hours Of Support</p>
             </div>
           </div>

           <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
             <div class="count-box">
               <i class="bi bi-people"></i>
               <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                 class="purecounter"></span>
               <p>Hard Workers</p>
             </div>
           </div>

         </div>

       </div>
     </section><!-- End Counts Section -->

      
     



   </main><!-- End #main -->
   <%- include('./layouts/footer.ejs') %>
