 <%- include('./layouts/header.ejs') %>

 <%- include('./layouts/navbar.ejs') %>
 <div class="container">
     <!-- ======= Breadcrumbs ======= -->
     <section class="breadcrumbs">
         <div class="container">

             <div class="d-flex justify-content-between align-items-center">
                 <h2>Terms and Conditions</h2>
                 <ol>
                     <li><a href="/">Home</a></li>
                     <li>Terms and Conditions Page</li>
                 </ol>
             </div>

         </div>
     </section><!-- End Breadcrumbs -->
     <div class="contact-section">
         <h1>Term and Conditions </h1>
         <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsam, quibusdam dicta aperiam quia minima
             in
             repudiandae inventore vel delectus animi ratione libero voluptatum! Esse dolor ullam deleniti. Repellat,
             blanditiis?
             <span>Lorem ipsum dolor sit amet consectetur</span>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor quis cupiditate quidem tempora corporis
                 soluta impedit provident accusamus atque porro eveniet, corrupti maiores quaerat quasi sint
                 necessitatibus
                 est pariatur eligendi?</p>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quis cupiditate quidem tempora corporis
                 soluta impedit provident accusamus atque porro eveniet, corrupti maiores quaerat quasi sint
                 necessitatibus
                 est pariatur eligendi?</p>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quis cupiditate quidem tempora corporis
                 soluta impedit provident accusamus atque porro eveniet, corrupti maiores quaerat quasi sint
                 necessitatibus
                 est pariatur eligendi?</p>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quis cupiditate quidem tempora corporis
                 soluta impedit provident accusamus atque porro eveniet, corrupti maiores quaerat quasi sint
                 necessitatibus
                 est pariatur eligendi?</p>

         </p>


     </div>

 </div>
 <%- include('./layouts/footer.ejs') %>
